flows/sensibo/sensibo-darkness/n8n.json
{
  "name": "Sensibo-DARKNESS",
  "nodes": [
    {
      "parameters": {
        "url": "https://home.sensibo.com/api/v2/users/me/pods",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "motionSensors"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        80
      ],
      "id": "67aa3fda-3618-48f6-96bf-fa8710b0e8ca",
      "name": "HTTP Request1",
      "credentials": {
        "httpQueryAuth": {
          "id": "<sensibo-id>",
          "name": "Sensibo"
        }
      }
    },
    {
      "parameters": {
        "url": "https://home.sensibo.com/api/v2/pods/<pod-id>/acStates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        80
      ],
      "id": "6a1ccbf5-7a0f-491d-bdbd-0ed8b1526aa5",
      "name": "Get States",
      "credentials": {
        "httpQueryAuth": {
          "id": "<sensibo-id>",
          "name": "Sensibo"
        }
      }
    },
    {
      "parameters": {
        "url": "https://home.sensibo.com/api/v2/pods/<pod-id>/measurements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        80
      ],
      "id": "fb3a8eb3-649b-4f06-a159-a87558a4c0d7",
      "name": "Get neasurements",
      "credentials": {
        "httpQueryAuth": {
          "id": "<sensibo-id>",
          "name": "Sensibo"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 0-6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1824,
        80
      ],
      "id": "d9691d92-6e9d-47eb-a7ca-028cba49a14c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are my AC manager. Look at the history of my AC measurements at Sensibo and decide if I should enable it or disable it.\n\nConsider the time, and that it is our sleep time - so take our health into consideration.\nAlso, too hot or too cold (Or too humid) could wake us up and is not healthy.\n28 degrees is comfortable, 55% is great, above 61% it is humid.\ndue central AC, too much balance on stats measured in livingroom is cold on the other sleep rooms. \n\nAlso, using 26 targetTemperature was needed to make it actually work when it was 30.3 degrees.\nbut lower than 28 degrees is freezing othr rooms.\n\nEither use dry mode or turn off - it is important to avoid repeated turning on and off, and we want it turned off most of the night - use dry mode with care.\n\nRemember, your plans wont be transferred to next run, so make decision for the current moment only, and trust yourself to make a proper decision next run (in 5 minutes)\n\nResponse in json: { \"thinking\": \"...\", \"on\": true/false, \"mode\":\"dry\",\n\"targetTemperature\": ## }",
              "role": "system"
            },
            {
              "content": "=States:\n{{ JSON.stringify($('Get States').item.json.result[0]) }} \n\n{{ JSON.stringify($('Get States').item.json.result[1]) }} \n\n{{ JSON.stringify($('Get States').item.json.result[2]) }} \n\n\nMeasurements:\n{{ JSON.stringify($('Get neasurements').item.json.result) }}\n\n\nTime: \n{{  $('Schedule Trigger').item.json.timestamp }}\n\nRemember, my target is ~55%, but lower temperature than 28 will be freezing the other rooms.\nThis is central AC unit.\n\nRemember, your plans wont be transferred to next run, so make decision for the current moment only, and trust yourself to make a proper decision next run (in 5 minutes)\n\nResponse in json: { \"thinking\": \"...\", \"on\": true/false, \"mode\":\"dry\",\n\"targetTemperature\": ## }",
              "role": "=user"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -576,
        -112
      ],
      "id": "eac6b4c9-0f21-43a5-99a7-c0a5def53a05",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "NzN2hGKCj3adLTTj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad57b76a-3d01-49a8-b9e7-9d07c97979ab",
              "leftValue": "={{ $('Basic LLM Chain').item.json.output['on'] }}",
              "rightValue": "={{ $('Get States').item.json.result[0].acState.on }}",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        64
      ],
      "id": "4f896136-93e9-413f-b4ef-22949fd278d6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://home.sensibo.com/api/v2/pods/<pod-id>/acStates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"acState\": {\n    \"on\": {{ $('Basic LLM Chain').item.json.output['on'] }},\n    \"targetTemperature\": {{ $('Basic LLM Chain').item.json.output['targetTemperature'] }},\n    \"temperatureUnit\": \"{{ $('Get States').item.json.result[1].acState.temperatureUnit }}\",\n\n    \"mode\": \"{{ $('Basic LLM Chain').item.json.output['mode'] }}\"\n\n\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        48
      ],
      "id": "32a02ad6-0f2b-4063-a133-16e2a255e4f4",
      "name": "Change state",
      "credentials": {
        "httpQueryAuth": {
          "id": "<sensibo-id>",
          "name": "Sensibo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9e5c69f-4220-476e-8dc5-13cd3dabe7c2",
              "leftValue": "={{\n\n(\n (\n   ( $json.result[0].time.secondsAgo > 1800)  && \n   ( $json.result[0].acState.on  == false)  \n ) || \n ( $json.result[0].acState.on  == true) \n) && \n(\n  (\n    $('Select rows from a table').item.json.on ==   $json.result[0].acState.on &&\n    $('Select rows from a table').item.json.mode ==   $json.result[0].acState.mode &&\n    $('Select rows from a table').item.json.targetTemperature ==   $json.result[0].acState.targetTemperature \n  )\n  ||\n  $json.result[0].time.secondsAgo > 900\n)\n}}",
              "rightValue": "={{ $json.result[0].time.secondsAgo }} > 1200",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        80
      ],
      "id": "2145021b-c100-421c-80a5-4e07df2afc96",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"thinking\":\"The indoor humidity is 63 % and the user wants ~45 %. In dry mode each °C lower in set‑point generally pulls about 2–3 % humidity, so a drop of ~8–9 °C would bring the humidity closer to target. The current set‑point is 28 °C, so lowering it to 26 °C should give enough dehumidification without over‑cooling the room. The AC remains on and in dry mode.\",\"on\":true,\"mode\":\"dry\",\"targetTemperature\":26}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -432,
        288
      ],
      "id": "0f1cda61-f90d-4b49-a3a6-e2d9aca9f787",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "sensibo",
          "mode": "list",
          "cachedResultName": "sensibo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "on": "={{ $json.output.on }}",
            "mode": "={{ $json.output.mode }}",
            "targetTemperature": "={{ $json.output.targetTemperature }}",
            "timestamp": "={{ $now }}",
            "thinking": "={{ $json.output.thinking }}",
            "id": "={{ $now.toMillis() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thinking",
              "displayName": "thinking",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "targetTemperature",
              "displayName": "targetTemperature",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        64
      ],
      "id": "dbfdef9b-a9c9-4535-8130-58d7f7354ec9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "i4w1JvGn90LTIQ6I",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sensibo",
          "mode": "list",
          "cachedResultName": "sensibo"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "timestamp",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1616,
        80
      ],
      "id": "83599a9f-d019-4571-b536-7db3ca66e1dd",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "i4w1JvGn90LTIQ6I",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "pdevine/gpt-oss:20b-offload",
        "options": {
          "temperature": 0.1,
          "keepAlive": "6m",
          "numPredict": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -576,
        272
      ],
      "id": "43841a6b-e52d-410d-888b-bf107fe84389",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "2ikKZi6FVyoHXwvu",
          "name": "Thor"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "username@youremail.com",
        "subject": "Sensibo status",
        "message": "=on: {{ $json.message.content['on'] }}\non: {{ $json.message.content['mode'] }}\non: {{ $json.message.content['targetTemperature'] }}\n---\n\nReasoning: {{ $json.message.content['thinking'] }}\n---\nLast state: {{ JSON.stringify($('Get States').item.json.result[0]) }}\n\nLast measurements: {{ JSON.stringify($('Get neasurements').item.json.result) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        -112
      ],
      "id": "85c9831f-f87b-4a7a-969d-7bc485d9e677",
      "name": "Send a message1",
      "webhookId": "1dc60aea-b94a-4057-9f88-f9db4e075a4f",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "5YccuzImTfzqYLND",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad57b76a-3d01-49a8-b9e7-9d07c97979ab",
              "leftValue": "={{ $('Message a model').item.json.message.content['on'] }}",
              "rightValue": "={{ $('Get States').item.json.result[0].acState.on }}",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "cb8efc18-7791-4cb2-b0d5-4629f00cccf4",
              "leftValue": "={{ $('Message a model').item.json.message.content['mode'] }}",
              "rightValue": "={{ $('Get States').item.json.result[0].acState.mode }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "6ac1d012-9162-4ef7-ac21-fd23e8ae6fa8",
              "leftValue": "={{ $('Message a model').item.json.message.content['targetTemperature'] }}",
              "rightValue": "={{ $('Get States').item.json.result[0].acState.targetTemperature }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        -112
      ],
      "id": "06d2b403-f3db-4351-b79b-fd965411f3fd",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://home.sensibo.com/api/v2/pods/<pod-id>/acStates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"acState\": {\n    \"on\": {{ $('Message a model').item.json.message.content['on'] }},\n    \"targetTemperature\": {{ $('Message a model').item.json.message.content['targetTemperature'] }},\n    \"temperatureUnit\": \"{{ $('Get States').item.json.result[1].acState.temperatureUnit }}\",\n\n    \"mode\": \"{{ $('Message a model').item.json.message.content['mode'] }}\"\n\n\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -128
      ],
      "id": "16640cce-2c53-4088-91ef-bb179dda61d9",
      "name": "Change state1",
      "credentials": {
        "httpQueryAuth": {
          "id": "<sensibo-id>",
          "name": "Sensibo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "<discord-channel-id>",
          "mode": "list",
          "cachedResultName": "JetsonBot experiments",
          "cachedResultUrl": "https://discord.com/channels/<discord-channel-id>"
        },
        "channelId": {
          "__rl": true,
          "value": "1418452020725153824",
          "mode": "list",
          "cachedResultName": "ac-feed",
          "cachedResultUrl": "https://discord.com/channels/<discord-channel-id>/1418452020725153824"
        },
        "content": "=on: {{ $json['on'] }}\nmode: {{ $json['mode'] }}\ntargetTemperture: {{ $json['targetTemperature'] }}℃\n---\n\nReasoning: {{ $json.thinking }}\n---\n# States:\n\nMain room measurements:\n{{ JSON.stringify($('Get States').item.json.result[0]) }} \n\n\n\nRoom 1 Temperture: {{ $('HTTP Request1').item.json.result[0].motionSensors[0].measurements.temperature }}℃\nRoom 1 Humidity: {{ $('HTTP Request1').item.json.result[0].motionSensors[0].measurements.humidity }}\n\nRoom 2 Temperature: {{ $('HTTP Request1').item.json.result[0].motionSensors[1].measurements.temperature }}℃\nRoom 2 Humidity: {{ $('HTTP Request1').item.json.result[0].motionSensors[1].measurements.humidity }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        112,
        64
      ],
      "id": "0f3fe5fb-1bff-4a6b-befc-665a947b6860",
      "name": "Send a message2",
      "webhookId": "e66aac1e-0c0c-441f-b65b-b5754dbd134a",
      "credentials": {
        "discordBotApi": {
          "id": "1MR8bRN1yJ23AsZo",
          "name": "Jetson bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# States:\n\nMain room measurements:\n{{ JSON.stringify($('Get States').item.json.result[0]) }} \n\nMain room Measurements, by which the AC decides to set on \"sleep mode\"\nThese can be higher than desired temperature. \n\n# Sleeping room measurements:\nI expected these to be around 27.5 degrees and around 57% moisture.\nWhen they are not - you need to make sure to fix it.\n\nBedroom 1 Temperture: {{ $('HTTP Request1').item.json.result[0].motionSensors[0].measurements.temperature }}\nBedroom 1 Humidity: {{ $('HTTP Request1').item.json.result[0].motionSensors[0].measurements.humidity }}\n\nBedroom 2 Temperature: {{ $('HTTP Request1').item.json.result[0].motionSensors[1].measurements.temperature }}\nBedroom 2 Humidity: {{ $('HTTP Request1').item.json.result[0].motionSensors[1].measurements.humidity }}\n\nTime: \n{{  $('Schedule Trigger').item.json.timestamp }}\n\nRemember, my target is ~57% and 27.5 degrees in bedrooms to the comfortable range of (27-28) and I don't care about the main room at all (Usually ~3 degress higher).\nUse only 24 degrees (For main room), on dry mode.\nGive the AC 10 minutes time off after it started working.\nThis is central AC unit.\n\nRespond in json: { \"thinking\": \"...\", \"on\": true/false, \"mode\":\"dry\",\n\"targetTemperature\": ## }\n\nStart replying with {",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are my AC manager.\n\nLook at the history of my AC measurements at Sensibo and decide if I should enable it or disable it.  \n\nConsider the time, and that it is our sleep time - so take our health into consideration. Also, too hot or too cold (Or too humid) could wake us up and is not healthy. 27.5 percentage at Rooms is comfortable (27-28), 57% is great, above 60% it is humid. \n\nDue central AC, the Main room will be higher than the desired temperature and that is ok and expected.   \n\nConsider the Main temperature when deciding what temperature to send, snd Room temperature when deciding what is comfortable.\n\n\nRespond in json: { \"thinking\": \"...\", \"on\": true/false, \"mode\":\"dry\", \"targetTemperature\": ## }  \n\nStart replying with {"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -576,
        64
      ],
      "id": "7589aa8d-f7a5-4a00-ba4d-44602af1580a",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "Get neasurements": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get States": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Change state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Get neasurements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Change state1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3d0a94ec-d8dc-4b51-a477-c66d72032be9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<instance-id>"
  },
  "id": "ZejUGYv1KAJdUwEK",
  "tags": [
    {
      "createdAt": "2025-08-31T20:30:37.934Z",
      "updatedAt": "2025-08-31T20:30:37.934Z",
      "id": "XoeDgcbenMTehkbm",
      "name": "Home"
    }
  ]
}